body {
  background-color: #7ca4b4;
}

nav {
  height: 10vh;
}
.navbar-nav li {
  padding-right: 30px;
  margin-left: 0.25%;
}
.nav-link {
  font-size: 18px;
  font-family: 'Esteban', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
}
p {
  font-family: 'Varela Round', sans-serif;
}

.home {
  display: flex;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 70vh;
}
.home-text {
  flex: 2;
}
.home-text p {
  margin-top: 3%;
  font-size: 22px;
  font-family: 'Varela Round', sans-serif;
}
.my-photo {
  flex: 1;
  filter: drop-shadow(0px 1px 4px black);
  animation: drop 1s ease-in;
}
@keyframes drop {
  0%{
      opacity: 0;
      transform: translateY(-20px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

.education {
  margin-top: 4.2%;
  margin-right: auto;
  margin-left: auto;
}
.education-logos {
  margin-top: 8%;
}
.education-logos p{
  font-size: 19px;

}

.family {
  width: 90%;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}
.family p {
  margin-top: 7%;
  font-size: 20px;
}

.interests {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}
.interests-photos img {
  width: 300px;
  height: 300px;
  margin-top: 7.8%;
  border-radius: 50%;
}

.contacts {
  margin-top: 7%;
}
.contacts img {
  width: 100px;
  margin-top: 5%;
  margin-bottom: 6%;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 32px;
  margin-top: 10%;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

.add-matkul {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
