{% extends 'base.html' %}

{% block content %}
<table class="table">
    <tr>
        <td>Nama Matkul</td>
        <td>{{matkul.nama_matkul}}</td>
    </tr>
    <tr>
        <td>Dosen</td>
        <td>{{matkul.dosen}}</td>
    </tr>
    <tr>
        <td>SKS</td>
        <td>{{matkul.jumlah_sks}}</td>
    </tr>
    <tr>
        <td>Deskripsi</td>
        <td>{{matkul.deskripsi}}</td>
    </tr>
    <tr>
        <td>Semester</td>
        <td>{{matkul.semester}}</td>
    </tr>
    <tr>
        <td>Ruangan</td>
        <td>{{matkul.ruangan}}</td>
    </tr>
</table>
{% endblock %}