{% extends 'base.html' %}

{% block content %}
<h1 class="add-matkul">Add Mata Kuliah</h1>
<div class="container">
    <form action='' method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Add Your Schedule">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nama Matkul</th>
            <th scope="col">Dosen</th>
            <th scope="col">Jumlah SKS</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester</th>
            <th scope="col">Ruang Kelas</th>
            </tr>
        </thead>
        <tbody>
            {% for jadwal in matkul %}
                <tr>
                <th scope="row">{{matkul.nama_matkul}}</th>
                <td>{{matkul.dosen}}</td>
                <td>{{matkul.jumlah_sks}}</td>
                <td>{{matkul.deskripsi}}</td>
                <td>{{matkul.semester}}</td>
                <td>{{matkul.ruangan}}</td>
                <td><a href="{% url 'Delete' pk=jadwal.pk %}" <button class="btn btn-icon btn-danger"></a></td>
                <td><a href="{% url 'main:lihatmatkul' %}" <button class="btn btn-primary"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}