{% extends 'base.html' %}

{% block content %}
    <section class="contacts">
        <div class="container fluid-padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h1>Contact Me</h1>
                </div>
                <div class="col-12 social padding">
                    <a href = "https://instagram.com/aureliaasbr" title="go to aurel's instagram" target="_blank"><img src="static/img/instagram1.png"></a>
                    <a href = "https://www.linkedin.com/in/khalishah-aurelia-asbran-54b881193/" title="go to aurel's linkedin" target="_blank"><img src="static/img/linkedin1.png"></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-12">
                    <hr class="light">
                    <h5>More Contacts</h5>
                    <hr class="light">
                    <p>+62878-8849-4549</p>
                    <p>aureliaasbran@gmail.com</p>
                    <p>line : aureliaasbrannn</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}