{% extends 'base.html' %}

{% block content %}
    <section class="education">
        <div class="container fluid-padding">
            <div class="education history text-center">
                <div class="col-12">
                    <h1>Education History</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="education-logos">
        <div class="container fluid-padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="static/img/bangor-logo.png">
                    <h3>SMPN 2 Depok</h3>
                    <p>2014 - 2016</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="static/img/smansa-logo.png">
                    <h3>SMAN 1 Depok</h3>
                    <p>2016 - 2019</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="static/img/ui-logo.png">
                    <h3>Universitas Indonesia</h3>
                    <p>2019 - Present</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

