{% extends 'base.html' %}

{% block content %}
    <section class="family">
        <div class="container fluid-padding">
            <div class="row padding">
                <div class="col-md-12 col-lg-6">
                    <h1>My Family &#10084;</h1>
                    <p>This is a picture of me and both of my sisters. The one that is wearing a hijab is called Khiara, and the one
                        that has her hair down is called Syafa.
                    </p>
                    <p>An interesting fact about the three of us is that we were all born on the same date, at the same hospital,
                        and with the same doctor helping our mom deliver us! That means we all have the same birthday, which is the 3rd
                        of April. I think that's pretty interesting.
                    </p> 
                </div>
                <div class="col-lg-6">
                    <img src="static/img/mySisters.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}