{% extends 'base.html' %}

{% block content %}
    <section class="interests">
        <div class="container fluid-padding">
            <div class="interests text-center">
                <div class="col-12">
                    <h1>Interests and Hobbies</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="interests-photos">
        <div class="container fluid-padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="static/img/cats.jpg">
                    <h3>cats</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="static/img/pizza.jpg">
                    <h3>food</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="static/img/movies.jpg">
                    <h3>movies</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="static/img/bts.jpg">
                    <h3>bts</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="static/img/music.jpg">
                    <h3>music</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}